* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .box {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 7px;
    background-color: #F7F7F7;
  }
  